@import "daisyui/dist/full.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* steps value color in progress bar */
.step-secondary[data-content="✓"]::after {
  color: white;
}

.checkbox-custom {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.checkbox-custom:checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 0.75rem;
  content: '✓';
}

@layer base {
    input[type="number"].appearance-none::-webkit-inner-spin-button,
    input[type="number"].appearance-none::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }

    input[type="number"].appearance-none {
        -moz-appearance: textfield !important;
    }
}
/* Delete arrows from number input */
     @layer base {
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
          -moz-appearance: textfield !important;
        }
     }